{% extends "base.html" %}
{% block content %}
<h2>Storage Tips & Health Risks</h2>
<ul>
  <li>Refrigerate veggies; keep root veg in cool, dark place.</li>
  <li>Store fruits separately to avoid ET gas spoilage.</li>
  <li>Use breathable bags; avoid moisture buildup.</li>
  <li>Don’t wash before storing</li>
  <li>Keep these at room temperature: Tomatoes (fridge ruins flavor), bananas, onions, garlic, potatoes, avocados</li>
  <li>Keep potatoes away from onions</li>

</ul>
<h3>Health Risks of Spoiled Food</h3>
<ul>
  <li>Eating spoiled fruits or vegetables can lead to:</li>

  <li> 🤢 Food poisoning: Nausea, vomiting, diarrhea</li>
    
  <li> 🤒 Bacterial infections: From molds or pathogens like E. coli and Salmonella</li>
    
  <li>  🤧 Allergic reactions: Mold exposure can trigger symptoms in sensitive individuals</li>
    
  <li>  🦠 Mycotoxins risk: Some molds produce toxins that are dangerous long-term</li>
    
</ul>    
{% endblock %}
